

home {
    display: flex;

}

HomeAll{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}


.recipeHome{
    margin-top: 10px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-radius: 10px;
    border-style: solid;
    border-color: #c4a68a;
    background-color: #ffebf7;

    margin: 11px;

    object-fit:cover;
    width:  190px;
    height: 250px;


    flex-direction: column;




}

.recipeHome:hover{
    transform: scale(1.5);
}

.recipeHome img{
    max-width: 175px;
    max-height: 75px;
    width: auto;
    height: auto;


    background-color: #ffebf7;
    border-radius: 5px;
    border-style: solid;
    border-color: #c4a68a;



}

.rating {
    font-size: 20px;
}

.smallText{
    font-size: 10px;
}