.MainTable {
    width: 100%;
    display: table;
    margin-top: 10px;
    border-collapse: collapse;
    border:1px solid black;
    text-align: center;
}
td:nth-child(3) { width: 50%;}


.TableHead{
    background-color: #c4a68a;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}


.recipeLink{
    max-height: 25px;
    max-width: 30px;
}

.TableCell{
    display: table-row;
    border: solid;
    border-width: 2px 0;

}





