.wholeRecipe{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    border-radius: 10px;
    background-color: #ffebf7;
    border:#c4a68a solid 10px;
    margin-bottom: 100px;
}

.RecipeName{
    margin: 10px;
}

.IngrList{
    margin: 10px;
    min-height: 100px;
    max-height: 150px;
}

.SendRecipe{
    margin: 10px;
    min-height: 150px;
    max-height: 300px;

}
.buttonSubmit{
    align-self: center;
    color:#c4a68a;
    background-color: #ffebd9;
    border-radius: 10px;
    min-width: 130px;
    border:#c7a0b8 solid 1px;
    font-weight: bold;
}
