.piclink{
    Margin: 10px;
    font-size: 18px;

}

.ratedPicLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredientList{
}

.wholeRatedRecipe{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

.ratedname{
    display: flex;
    flex-direction: column;
    align-self: start;
    max-width: 40%;
    min-width: 40%;
}

.ratedrating{
    align-self: end;
    display: flex;
    flex-direction: column;
}
.ratedingredientList{
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 60%;

}

.SubmitButton{
    color:#c7a0b8;
    background-color: #ffebf7;
    border-radius: 10px;
    min-width: 130px;
    border:#c7a0b8 solid 1px;
    font-weight: bold;
}
.ImageFileSelect{

    color:#c7a0b8;
    background-color: #ffebf7;
    min-width: 270px;
    border-radius: 5px;
    border:#c7a0b8 solid 1px;
    font-weight: bold;

}

.imagePreview{
    border:#c4a68a 6px solid;
}

.ratedBody{
    align-self: center;
    display: flex;
    flex-direction: column;
    max-height: 50%;
    min-height: 50%;
    max-width: 60%;
    min-width: 60%;

}

.ratedOpinion{
    align-self: center;
    display: flex;
    flex-direction: column;
    max-height: 50%;
    min-height: 50%;
    max-width: 60%;
    min-width: 60%;
}

.buttonSubmit{
    margin: 5px;
}
